.wrapper {
  button {
    padding: 10px;
    margin: 10px 5px;
    font-weight: 500;
    font-size: 1.6rem;
    background-color: white;
    border: 1px solid var(--line-btn);
    cursor: pointer;
    transition: all ease 0.2s;
  }
}
